*{
    --primary-color: rgb(87, 20, 70);
    --secondary-color: rgb(255, 255, 255);
}


body{
    text-align: center;
    margin: auto;
    background-image: url("https://i.redd.it/489ohv5xzvf31.jpg");
    background-repeat: no-repeat;
    color: white;
    margin: 0%;
}

h1{
    display: block;
}

label{
    font-size: 1.5rem;
    text-align: left;
    padding-top: 1rem;
}

input{
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 2rem;
}

main{
    width: 50%;
    margin: auto;
}

#submit-btn{
    margin: 1rem;
    padding:0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

#output-box{
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    border-radius: 2rem;
}

.active-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;   
    font-weight: 800;
    font-size: larger;
}

.footer {
    background-color: white;
    width: 50%;
    padding: 2rem 1rem;
    margin-top: 2rem;
    text-align: center;
    color: black;
    border-radius: 10rem;
    margin: auto;
}

.footer .link {
    color: black;
    /* text-decoration: none; */
}

.footer .footer-header {
    font-weight: bold;
}

.non-bullet-list {
    list-style: none;
}

.inline-list {
    display: inline;
}

.footer-img{
    height:2rem;
    width: 2rem;
    padding: 0rem 0.5rem;
}